/** Global styles */
:root {
    --color-primary: #1a1a1a;
    --color-secondary: #703bf7;
    --color-tertiary: #141414;

    --color-white: #ffffff;

    --color-border: #262626;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-primary);
    min-height: 100dvh;
}

a {
    text-decoration: none;
}

nav {
    height: 15rem;
    background-color: var(--color-tertiary);
    border-bottom: 1px solid var(--color-border);
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.color-secondary {
    color: var(--color-secondary);
}

/** Navbar **/
.container-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 3.5rem;
    color: var(--color-white);
    font-weight: 900;
}

.div-nav-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-border);
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 0.5rem;
}

.nav-link {
    color: var(--color-white);
    font-size: 1.8rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/** Main **/
.container-section-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
}

.title {
    font-size: 4rem;
    margin: 2rem 0;
}

.description {
    font-size: 1.8rem;
    margin: 0;
}

.div-links {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-start-shopping {
    color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    width: 15rem;
}

.link-start-shopping:hover {
    background-color: #7f4dfd;
}

.link-learn-more {
    color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #646464;
    width: 15rem;
}

.link-learn-more:hover {
    background-color: #7c7c7c;
}

/** Section 2 **/
.section-2 {
    background-color: var(--color-tertiary);
    border-top: 1px solid var(--color-border);
    padding-bottom: 2rem;
}

.container-section-2 {
    text-align: center;
    color: var(--color-white);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    padding: 1rem;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 9rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
}

/** Section 3 **/
.section-3 {
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-border);
}

.container-section-3 {
    text-align: center;
    color: var(--color-white);
}

.div-companies-links {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    background-color: var(--color-tertiary);

}

.company-link {
    color: var(--color-white);
    font-size: 1.8rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--color-primary);
    font-weight: 700;
}

.company-link:hover {
    text-decoration: underline;
}

.div-testimonial {
    border: 1px solid var(--color-secondary);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem 0;
    background-color: var(--color-tertiary);
    position: relative;
}

.quotes-icon {
    position: absolute;
    left: 7rem;
    top: 1rem;
}

blockquote {
    margin: 0 2rem;
}


/** PC Screen **/
@media screen and (min-width: 768px) {
    nav {
        height: 10rem;
    }

    .container-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        height: 100%;
    }

    .div-nav-links {
        width: 30%;
    }

    .div-links {
        justify-content: center;
        gap: 10rem;
    }
}